.popup-profile {
    height: 330px;
    width: 430px;
    background-color: #FFF;
    border-radius: 5%;
    position: relative;
}

@media (max-width: 590px) {
    .popup-profile {
      height: 332px;
      width: 282px;
    }
}