.profile__info__name {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 42px;
    color: #FFF;
    margin: auto 18px 9px auto; /*по заданию нижний отступ 16px но при таком отступе визуально не сходится с заданием */
    line-height: 48px;
    font-weight: 500;
}


@media (max-width: 500px) {
    .profile__info__name {
        font-family: 'Inter', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}