.profile__button__edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../../image/Edit\ Button.svg);  
    margin: 15px 0px 34px 0px;
}

@media (max-width: 500px) {
    .profile__button__edit {
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}

